<div id="content">
      <div class="jumbotron">
        <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6 text-center">
            <div class="jumbotron-text">
              <div class="slogan">
                1次投递   N个工作
                <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">CLICK ME<i class="fa fa-heart"></i></a></p>
              </div>
            </div>
          </div>
            <br>
      </div>
    <br>
  </div>
</div>
</div>

<div class="phases">
  <div class="hr-title">
    <span>下一份心仪的好工作</span>
  </div>
  <div class="container feature-section">
        <div class="row align-items-center">
          <div class="col-lg-5 push-lg-7">
            <h3 class="text-center">马上加入并提交简历</h3>
            <h4 class="text-left">注册填写“我的简历”后提交简历，您将获得海量工作机会。</h5>
          </div>
          <div class="col-lg-7 pull-lg-5">
            <img class="img-fluid" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fetifnusamj30e80e874p.jpg" alt="Campaign" />
          </div>
        </div>
        <div class="divider_line"></div>
  </div>

  <div class="container feature-section">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fethfcugtuj30e80e8t8s.jpg" alt="Report" />
      </div>
      <div class="col-lg-6">
        <h3 class="text-center">开始匹配</h3>
        <h4 class="text-left">您的简历经过隐私保护处理会向MovieOffer所有企业开放7天时间。</h5>
      </div>
    </div>
    <div class="divider_line"></div>
  </div>
  <div class="container feature-section">
        <div class="row align-items-center">
          <div class="col-lg-5 push-lg-7">
            <h3 class="text-center">收到邀请</h3>
            <h4 class="text-left">中意您的公司会直接向您发出包含信息的邀请，您将以邮件、电话形式收到多个公司的面试邀请。</h5>
          </div>
          <div class="col-lg-7 pull-lg-5">
            <img class="img-fluid" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fetihdxgqtj30e80e8t94.jpg" alt="Campaign" />
          </div>
        </div>
        <div class="divider_line"></div>
  </div>

  <div class="container feature-section">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fetijclhe8j30e80e8glm.jpg" alt="Report" />
      </div>
      <div class="col-lg-6">
        <h3 class="text-center">沟通约见</h3>
        <h4 class="text-left">选择您心仪的公司接受邀请，随后详细沟通、约定面试时间；您也可以直接拒绝不敢兴趣的邀请。</h5>
      </div>
    </div>
    <div class="divider_line"></div>
  </div>

</div>
